<p id="notice"><%= notice %></p>

<h1>Message</h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= link_to "New message", new_message_path %>
<%= button_to "New message", new_message_path(turbo_frame: "dialog"), method: :get, aria: { expanded: false }, data: { turbo_frame: "dialog" } %>
